*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.navbar-container{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 32px 14px 24px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    .nav-heading{
        font-weight: 700;
        font-size: 20px;
    }

    .nav-right{
        display: flex;
        align-items: center;

        .circle-ad{
            background-color: #D8D8D8;
            height: 45px;
            width: 45px;
            border-radius: 45px;
            position: relative;
            .Ad{
                position:absolute;
                top: 25%;
                bottom: 0%;
                right: 0%;
                left: 0%;
                font-weight: 400;
                font-size: 14px;
                color: #25282B;
                text-align: center;
            }
        }
        .admin-el{
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            color: #002449;
            padding-top: 10px;
            margin-left: 10px;
        }
        .dropDrownImg{
            margin-left: 10px;
        }
    }
}

.sidebar-container{
    background-color: #ffffff;
    width: 250px;
    margin-top: 1px;
    padding: 10px 5px;
    .sidebar-el1{
            display: flex;
            padding-left: 5px;
            width: 242px;
            border-radius: 4px;
            .sidebar-text{
                font-weight: 400;
                font-size: 16px;
                line-height: 18px;
                padding-top: 15px;
                padding-left: 15px;
                color: #52575C;

            }
    }
    .sidebar-el2{
        background: #FE724C;
        border-radius: 4px;
        width: 242px;
        display: flex;
        padding-left: 5px;
        color: #ffffff;
        .sidebar-text{
            font-weight: 400;
            font-size: 16px;
            line-height: 18px;
            padding-top: 15px;
            padding-left: 15px;
        }
}
}